<head>
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.0/css/all.min.css"
    integrity="sha512-10/jx2EXwxxWqCLX/hHth/vu2KY3jCF70dCQB8TSgNjbCVAC/8vai53GfMDrO2Emgwccf2pJqxct9ehpzG+MTw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
  <meta
    name="description"
    content="centre d'aide pour l'utilisation du logiciel BoulangerieQc pour c&eacute;dule de production de boulangerie artisanale"
  />
  <title>Le logiciel | BoulangerieQc</title>
</head>

<h2 class="text-center mt-2 text-lg md:text-xl">
  L'outil de l'artisan boulanger québécois.
</h2>
<div
  class="w-1/2 md:w-1/4 ml-auto mr-auto py-2 text-center grid grid-cols-2 gap-2"
>
  <div class="bg-yellow-300">
    <a href="../../../assets/videos/presentation.mp4"
      >...démo 'ingrédient-recette-produit-commande-cédule de production'...<i
        class="ml-2 fas fa-video"
      ></i
    ></a>
  </div>

  <div class="bg-yellow-300">
    <a href="../../../assets/videos/commandeWeb.mp4"
      >...démo 'commande site web clients commerciaux'...<i
        class="ml-2 fas fa-video"
      ></i
    ></a>
  </div>
</div>

<div class="ml-2" id="content">
  <!-- Start content -->
  <p style="text-align: center">
    <span style="font-size: 16px; color: #000000; font-weight: bold"
      ><br />L'application permet de transférer les documents des recettes et
      ingrédients sur votre ordinateur et sur un site web sécurisé propre à
      votre boulangerie. <br /><br
    /></span>
  </p>

  <ol class="text-center">
    <li>Logiciel de gestion de cédule de production sur Window et Mac.</li>
    <li>
      Construire les recettes de votre boulangerie avec les coûts d'ingrédients.
    </li>
    <li>
      Prise des commandes téléphoniques ou sur un site web sécurisé pour les
      clients commerciaux.
    </li>
    <li>
      Préparation automatique de la cédule du lendemain à partir des commandes
      faites.
    </li>
    <li>
      Listes des ingrédients à jour et leur prix. Établir le coût de revient de
      chaque produit vendu et leur étiquette imprimée.
    </li>
    <li>
      Escompte aux clients commerciaux selon 5 catégories. <br />Prix spéciaux
      pour des pains particuliers.
    </li>
    <li>
      Impression des cédules de production avec la recette, ingrédients, coûts
      selon le coefficient calculé automatiquement.
    </li>
    <li></li>
  </ol>
 

    <ol class="mt-2">
      <li>
        <a
          class="w-1/2 h-1/2"
          href="https://www.boulangerieqc.com/assets/images/fenetreprincipale.png"
          >Fenêtre principale propriétaire</a
        >
      </li>
      <li>
        <a class="w-1/2 h-1/2" href="https://www.boulangerieqc.com/assets/images/fenetreComptoir.png"
          >Fenêtre comptoir</a
        >
      </li>
    </ol>
    <br />
    <span class="font-bold">Ouverture logiciel <br /></span>
    <hr />
    <ol class="arabic-numbers">
      <li>
        <span
          ><a href="../../../assets/images/ouverture.png"
            >ouverture de l'application</a
          ></span
        >
        <a href="../../../assets/videos/ouvertureLogiciel_v.mp4"
          >...<i class="ml-2 fas fa-video"></i
        ></a>
      </li>
      <li>
        <span
          ><a href="../../../assets/images/login.png"
            >choix de l'utilisateur avec droits d'accès</a
          ></span
        >
      </li>
      <li>
        <span
          ><a href="../../../assets/images/nouveauFichierHistorique.png"
            >Créer un fichier historique pour la première sauvegarde</a
          ></span
        >
      </li>
      <li>
        <br />
        <span class="font-bold"
          ><a
            href="../../../assets/images/maBoulangerie.png"
            title="Créer sa boulangerie"
            >Créer sa boulangerie</a
          ></span
        >
        <hr />
      </li>
    </ol>

    <span><br /></span>

    <span class="font-bold">Création d'un client</span>
    <hr />

    <ol>
      <li>
        <a href="../../../assets/images/creationClient.png"
          >création d'une fiche client</a
        >
      </li>
      <li>
        <a href="../../../assets/images/prix_special_client.png"
          >attribution escompte client commercial</a
        >
      </li>
      <li>
        <a href="../../../assets/images/prixspeciaux.png"
          >attribution prix spécial par pain</a
        >
      </li>
      <li>
        <a href="../../../assets/images/prixspeciauxChiffre.png"
          >attribution du prix spécial</a
        >
      </li>
      <li>
        <a href="../../../assets/images/facturerXFactures.png"
          >envoi facture regroupant plusieurs factures</a
        >
      </li>
      <li>
        <a href="../../../assets/images/regroupementFactures.png"
          >courriel regroupement factures</a
        >
      </li>
      <li>
        <a href="../../../assets/images/paiementCommandes.png"
          >paiement de plusieurs factures en bloc</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ajoutLieuCueillette.png"
          >ajout lieu de cueillette dans le cas multipoint de service ou panier
          saisonnier</a
        >
      </li>
      <li>
        <a href="../../../assets/images/lieuCuillette.png"
          >ajout automatique du lieu de cueillette lors de la commande ou
          suppression en cliquant sur le X</a
        >
      </li>
      <li>
        <a href="http://www.boulangerieqc.com/assets/videos/envoiHebdo.mp4"
        >...Envoi hebdomadaire automatisé des bons de commandes regroupés de tous les clients vers le comptable'...<i
          class="ml-2 fas fa-video"
        ></i
      ></a>
      </li>
    </ol>

    <span><br /></span><span class="font-bold">Création d'un fournisseur</span>
    <hr />
    <ol>
      <li>
        <a href="../../../assets/images/creerFournisseur.png"
          >création d'un fournisseur</a
        >
      </li>
      <li>
        <a href="../../../assets/images/voirIngredientFournisseur.png"
          >voir les ingrédients d'un fournisseur</a
        >
      </li>
    </ol>

    <span class="font-bold"
      ><br />Créer un ingrédient dans la liste de prix<br
    /></span>
    <hr />

    <ol>
      <li>
        <a
          href="../../../assets/images/creationNouvelIngredient/creationIngredient.png"
          >Création de la fiche ingrédient</a
        ><a href="../../../assets/videos/creerIngredient_v.mov"
          >...<i class="ml-2 fas fa-video"></i
        ></a>
      </li>
      <li>
        <a
          href="../../../assets/images/creationNouvelIngredient/creationingredientFournisseur.png"
          >Entrée de la fiche ingrédient du fournisseur avec son code</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ajoutRetraitCategIngredients.png"
          >ajout ou retrait d'une catégorie d'ingrédient</a
        >
      </li>
    </ol>
    <br />

    <span class="font-bold">Créer une recette<br /></span>
    <hr />
    <ol>
      <li>
        <a href="../../../assets/images/creationRecette.png"
          >Création recette de pain blanc </a
        ><a class="" href="../../../assets/videos/recette_v.mov"
          >...<i class="ml-2 fas fa-video"></i
        ></a>
      </li>
      <li>
        <a href="../../../assets/images/creationRecetteComplexe.png"
          >Création recette pain blanc avec ajout chocolat</a
        >
      </li>
      <li>
        <a href="https://www.boulangerieqc.com/assets/videos/majRecetteSecondaire.mp4"
          >Mise à jour d'une recette qui contient une recette secondaire qu'on modifie</a
        >
      </li>

    </ol>
    <br />
    <span class="font-bold" class="font-bold">Création d'un produit<br /></span>
    <hr />

    <ol>
      <li>
        <a class="" href="../../../assets/videos/creationProduit.mp4"
        >création d'un nouveau produit<i
          class="ml-2 fas fa-video"
        ></i
      ></a>
      </li>
      <li>
        <a href="../../../assets/images/choixProduitPourEtiquette.png"
          >sélection du produit pour étiquette</a
        >
      </li>
      <li>
        <a href="../../../assets/images/etiquetteProduit.png"
          >création étiquette produit</a
        >
      </li>
      <li>
        <a href="../../../assets/images/impressionEtiquette.png"
          >impression étiquette produit</a
        >
      </li>
      <li>
        <a href="../../../assets/images/pourcentagedeperte.png"
          >ajout pourcentage de perte lors de la pétrissée</a
        >
      </li>
      <li>
        <a href="../../../assets/images/sacConservation.png"
          >ajout d'un sac de conservation</a
        >
      </li>
      <li>
        <a href="../../../assets/images/selectionJourProduit.png"
          >sélection des journées de production</a
        >
      </li>
      <li>
        <a href="../../../assets/images/bacetplaque.png"
          >calcul des bacs ou plaques nécessaire pour la recette</a
        >
      </li>
      <li>
        <a href="../../../assets/images/modifBacPlaque.png"
          >modification des quantités par bac ou plaque sur 1 clic</a
        >
      </li>

      <li>
        <a class="" href="../../../assets/videos/genererEtiquette.mp4"
          >création d'une étiquette produit avec code à barre...<i
            class="ml-2 fas fa-video"
          ></i
        ></a>
      </li>
    </ol>
    <br />

    <span class="font-bold" class="font-bold">Créer une commande<br /></span>
    <hr />
    <ol>
      <li>
        <a href="../../../assets/images/commande.png">commande client</a>
      </li>
      <li>
        <a href="../../../assets/images/choixClient.png"
          >sélectionner le client</a
        >
      </li>
      <li>
        <a href="../../../assets/images/commandeMultiple.png"
          >commande répétée à intervalle</a
        >
      </li>
      <li>
        <a href="../../../assets/images/commande1semaine.png"
          >commande pour 1 semaine, inscrire date lundi et un client</a
        >
        <ol>
          <li>
            <a href="../../../assets/images/regroupementDurantCommande1sem.png"
              >durant la commande 1 semaine client commercial on propose
              d'envoyer la facture regroupée des jours précédents au choix</a
            >
          </li>
          <li>
            <a href="../../../assets/images/selectionFacture1sem.png"
              >sélection des factures à regrouper</a
            >
          </li>
          <li>
            <a href="../../../assets/images/regroupementFactures.png"
              >envoi courriel de cette facture ou impression</a
            >
          </li>
          <li>
            <a class="" href="../../../assets/videos/paiementFactRegroupee.mov"
              >Exemple de paiement facture regroupée...<i
                class="ml-2 fas fa-video"
              ></i
            ></a>
          </li>
          <li>
            <a
              href="../../../assets/images/importCommande/importCommandeWeb.png"
              >importation commande Web</a
            ><a class="" href="../../../assets/videos/importCommandeWeb.mp4"
              >...<i class="ml-2 fas fa-video"></i
            ></a>
          </li>
        </ol>
      </li>
      <li>
        <a href="../../../assets/images/duplicationCommande.png"
          >commande dupliquée</a
        >
      </li>
      <li>
        <a href="../../../assets/images//facture.png">facture générée</a>
      </li>
      <li>
        <a href="../../../assets/images/courrielFacture.png"
          >facture envoyée automatiquement par courriel</a
        >
      </li>
      <li>
        <a href="../../../assets/images/chiffrierLundiToVendredi.png"
          >envoi en même temps fichier Excel de commande pour la semaine,
          générique ou personnalisé. Ce fichier pourra être importé pour générer
          une commande</a
        >
      </li>
    </ol>
    <br />
    <span class="font-bold" class="font-bold">Créer une commande Web<br /></span>
    <hr />
<ol>
  <li>

    <a class="" href="../../../assets/videos/commandeWeb.mp4"
      >...<i class="ml-2 fas fa-video"></i
    ></a>
  </li>
</ol>
    <br />
    <span class="font-bold" class="font-bold">Importer une commande Web<br /></span>
    <hr />
    <ol>
      <li>
        <a
          href="../../../assets/images/importCommande/importCommandeWeb.png"
          >importation commande Web</a
        ><a class="" href="../../../assets/videos/importCommandeWeb.mp4"
          >...<i class="ml-2 fas fa-video"></i
        ></a>
      </li>
    </ol>
    <br />
    <span class="font-bold">Créer une cédule de production<br /></span>
    <hr />

    <ol>
      <li>
        <a href="../../../assets/images//ceduleProduction/saisieCeduleProd.png"
          >choisir une journée et le client, puis inscrire les quantités par
          jour</a
        >
      </li>
      <li>
        <a
          href="../../../assets/images/ceduleProduction/productionDetailspageFront.png"
          >résumé production</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ceduleProduction/productionSommaire.png"
          >coûts ingrédients et vente produits</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ceduleProduction/coutIngredients.png"
          >coûts ingrédients</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ceduleProduction/prodJourParClient.png"
          >quantité de produits par client à l'horizontal</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ceduleProduction/produitsParClient.png"
          >produits par client à la verticale
        </a>
      </li>
      <li>
        <a href="../../../assets/images/ceduleProduction/listePates.png"
          >liste des pâtes</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ceduleProduction/recetteBaguette.png"
          >recette de base</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ceduleProduction/recetteAvecAjout.png"
          >recette avec ajout chocolat</a
        >
      </li>

      <li>
        <a class="" href="../../../assets/videos/ceduleproduction.m4v"
          >Voici un exemple d'une cédule de production transférée
          automatiquement sur le site web de la boulangerie...<i
            class="ml-2 fas fa-video"
          ></i
        ></a>
      </li>
    </ol>
    <br />

    <span class="font-bold" class="font-bold">Commande à un fournisseur</span>
    <hr />

    <ol>
      <li>
        <a href="../../../assets/images/commandeFournisseur/commande.png"
          >commande à un fournisseur</a
        >
      </li>
      <li>
        <a
          href="../../../assets/images/commandeFournisseur/receptionCommande.png"
          >réception de la commande</a
        >
      </li>
      <li>
        <a href="../../../assets/images/modifReceptionCommandeFourn.png"
          >possibilité de modifier en même temps prix/sac et code ingrédient
          chez fournisseur</a
        >
      </li>
      <li>
        <a href="../../../assets/images/commandeFournisseur/miseajour.png"
          >mise à jour</a
        >
      </li>
      <li>
        <a href="../../../assets/images/commandeFournisseur/ajoutStock.png"
          >ajout automatique dans les stocks</a
        >
      </li>
    </ol>
    <br />

    <span class="font-bold">Ajustement des prix / mise à jour<br /></span>
    <hr />
    <ol>
      <li>
        <a href="../../../assets/images/ajustements/pourcPrixPropose.png"
          >différence de % par-rapport au prix proposé</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ajustements/listeProduitCritere.png"
          >liste des produits touchés</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ajustements/choixdesProduits.png"
          >choix des produits en surlignant et cliquant OK</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ajustements/pourcentageAugmentation.png"
          >quel pourcentage majorera le prix?</a
        >
      </li>
      <li>
        <a href="../../../assets/images/ajustements/prixApres.png"
          >résultat après...</a
        >
      </li>
    </ol>
    <br />

    <span class="font-bold"
      >Sauvegarde et restitution lors d'erreur. Page de maintenance<br
    /></span>
    <hr />

    <ol>
      <li>
        <a href="../../../assets/images/maintenance/sauvegarde.png"
          >sauvegarde et périodicité</a
        >
      </li>
      <li>
        <a href="../../../assets/images/maintenance/restitution.png"
          >restitution retour à backup antérieur. Ouverture de l'application à
          partir d'une sauvegarde antérieure. À faire avec l'aide du
          programmeur</a
        >
      </li>
      <li>
        <a href="../../../assets/images/maintenance/retourarriere.png"
          >revenir en arrière. Il faut sélectionner l'action avant celle qu'on
          veut éliminer</a
        >
      </li>
    </ol>
    <br />

    <span class="font-bold">Mise à jour du logiciel<br /></span>
    <hr />
    <ol>
      <li>
        <a href="../../../assets/images/miseajour.pdf"
          >comment faire la mise à jour du logiciel?</a
        >
      </li>
      <li>
        <a class="" href="../../../assets/videos/miseajour.mov"
          >Voici un exemple d'une mise à jour du logiciel.Cliquez sur le bouton
          "Mise à jour Logiciel"...<i class="ml-2 fas fa-video"></i
        ></a>
      </li>
    </ol>
    <br />

    <span class="font-bold">Rapports de gestion<br /></span>
    <hr />
    <ol>
      <li>
        <a href="../../../assets/images/gestion/rapports.png"
          >plusieurs types de rapports disponible</a
        >
      </li>
      <li>
        <a href="../../../assets/images/gestion/ventes.png"
          >exemple rapport vente par client</a
        >
      </li>
    </ol>
    <br />

    <span class="font-bold">Exportation importation des données<br /></span>
    <hr />
    <ol>
      <li>
        <a href="../../../assets/images/gestion/exportation.png"
          >exportation des données</a
        >
      </li>
      <li>
        <a href="../../../assets/images/creationFichierSlkClientCommercial.png"
          >Création d'un fichier Excel de commande d'une semaine du lundi au
          dimanche par client commercial. Ce fichier est envoyé automatiquement
          au client commercial lors de chaque commande</a
        >
      </li>
      <li>
        <a href="../../../assets/images/gestion/importation.png"
          >importation des données</a
        >
      </li>
      <li>
        <a href="../../../assets/images/gestion/tableur.png"
          >exemple de sortie sur Excel, OpenOffice ou Number</a
        >
      </li>
      <li>
        <a class="" href="../../../assets/videos/importationCommandesWebCourt.mp4"
          >exemple d'importation commande de la semaine ...<i
            class="ml-2 fas fa-video"
          ></i
        ></a>
      </li>

      <li>
        <a href="../../../assets/images/gestion/formatSYLK.png">
          Notez que le format SYLK est openSource. Vous pouvez l'exporter en
          choisissant ce format dans la liste de votre tableur</a
        >
      </li>
    </ol>
  
</div>
