<div class=" p-1 font-sans text-sm font-normal leading-normal text-inherit antialiased flex justify-center ">
    <button (click)="goToCommande()"
      class="mr-4  cursor-pointer p-1.5 font-sans text-base font-medium leading-relaxed text-inherit antialiased bg-gray-100 rounded-sm shadow-xl flex justify-center ">
      Retour à la commande
    </button>
  </div>

<button class="btn bg-green-300 p-2" (click)="refresh()">Reload clients</button>
 
<!-- Check on error, and display the error message -->
@if (produitsResource.error()) {
  <div>{{ $any(produitsResource.error()).message }}</div>
  <div><button (click)="refresh()">Retry</button></div>
}
@else {
  <!-- Make it obvious that something is happening in the background -->
  @if(produitsResource.isLoading()) {
    <div>Chargement...</div>
  }}

  @if(produitsResource.hasValue()){
  <ng-container>
    @for (item of dataSource; track item) {
    <p>{{item.title}}</p>
    }
  
  </ng-container>
  
  <table mat-table [dataSource]="produitsResource.value().data" class="mat-elevation-z8" matSort matSortActive="nom" matSortDirection="desc"
    (matSortChange)="sortData($event)">
    <!--- Note that these columns can be defined in any order.
              The actual rendered columns are set as a property on the row definition" -->
    'id', 'variete_poids', 'nom_recette', 'taxable', 'prix_vente_variete', 'Modifier'];

    <!-- id  -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>id</th>
      <td mat-cell *matCellDef="let element">{{ element.id }}</td>
    </ng-container>
        <!-- variete_poids -->
    <ng-container matColumnDef="variete_poids">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>variete_poids</th>
      <td mat-cell *matCellDef="let element">{{ element.variete_poids }}</td>
    </ng-container>
    <!-- nom_recette Column-->
    <ng-container matColumnDef="nom_recette">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>nom_recette</th>
      <td mat-cell *matCellDef="let element">{{ element.nom_recette }}</td>
    </ng-container>
    <!-- taxable Column -->
    <ng-container matColumnDef="taxable">
      <th mat-header-cell *matHeaderCellDef mat-sort-header>taxable</th>
      <td mat-cell *matCellDef="let element">{{ element.taxable }}</td>
    </ng-container>
     <!-- prixderevient Column -->
     <ng-container matColumnDef="prixderevient">
      <th mat-header-cell *matHeaderCellDef>prixderevient</th>
      <td mat-cell *matCellDef="let element">{{ element.prixderevient }}</td>
    </ng-container>
    <!-- prix_vente_variete Column -->
    <ng-container matColumnDef="prix_vente_variete">
      <th mat-header-cell *matHeaderCellDef>prix_vente_variete</th>
      <td mat-cell *matCellDef="let element">{{ element.prix_vente_variete }}</td>
    </ng-container>

    <ng-container  matColumnDef="Modifier">
      <th mat-header-cell *matHeaderCellDef>Modifier</th>
      <td mat-cell *matCellDef="let element">
        <div class="mb-4"></div>
        <button  *ngIf="(proprioBoulangerie())" class="mb-2" (click)=" modifProduit(element.id)"><fa-icon class="text-green-600"
            [icon]="faEdit"></fa-icon> {{ element.ID }}</button>
        <hr class="border-4 mb-2">
        <button *ngIf="proprioBoulangerie()" (click)=" deleteProduit(element.id)"><fa-icon class="text-red-500 " [icon]="faTrash"></fa-icon> {{
          element.id }}</button>
      </td>
    </ng-container>
  
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
}