<!-- 
<h1>ngx-filesaver</h1>
<p>
  Simple file save with FileSaver.js, pls refer
  <a href="https://github.com/cipchk/ngx-filesaver/blob/master/README.md" target="_blank">README.md</a>
</p>
<h1>Filesaver option</h1>
<label> <input type="checkbox" [(ngModel)]="options.autoBom" /> AutoBOM </label>

<h1>Text Document</h1>
<textarea [(ngModel)]="text"></textarea>
<button type="button" (click)="onDown('txt', false)">Save Text</button>
<button type="button" (click)="onDown('json', false)">Save JSON</button> -->

<!-- <button type="button" (click)="onDown('docx', true)">Save Word</button>
<button type="button" (click)="onDown('xlsx', true)">Save Excel</button> -->
<button class="bg-red-600 p-2 rounded-sm text-white" type="button" (click)="onDown('csv', true)"><fa-icon [icon]="faDownload"></fa-icon></button>
<!-- <button type="button" (click)="onDown('pptx', true)">Save PPT</button>
<button type="button" (click)="onDown('pdf', true)">Save PDF</button>
<button type="button" (click)="onDown('zip', true)">Save Zip</button>
<button type="button" (click)="onDown('7z', true)">Save 7z</button>
<button type="button" (click)="onDown('jpg', true)">Save JPG</button>
<button type="button" (click)="onDown('gif', true)">Save Gif</button>
<button type="button" (click)="onDown('png', true)">Save Png</button> -->

<!-- <h1>fileSaver Directive</h1>
<button type="button" fileSaver url="assets/files/demo.docx">Save Word</button> -->
