

<!-- @if((auth.isAuthenticated$ | async) === false){ -->

<div class=" w-full ml-auto mr-auto text-md md:text-lg font-bold text-center mt-4">
    <p >Gérer vos ventes, stocks, commandes aux fournisseurs, cédule de production, coûts des ingrédients, prix de revient!</p>
    <p>Fier d'aider les boulangers québécois!</p>
</div>

<div
  class="w-1/2 md:w-1/4 ml-auto mr-auto py-2 text-center grid grid-cols-2 gap-2"
>
  <div class="bg-yellow-300">
    <a href="https://www.boulangerieqc.com/assets/videos/presentation.mp4"
      >...démo 'ingrédient-recette-produit-commande-cédule de production'...<i
        class="ml-2 fas fa-video"
      ></i
    ></a>
  </div>

  <div class="bg-yellow-300">
    <a href="https://www.boulangerieqc.com/assets/videos/commandeWeb.mp4"
      >...démo 'commande site web clients commerciaux'...<i
        class="ml-2 fas fa-video"
      ></i
    ></a>
  </div>
</div>
    <app-hero/>


<!-- } -->
